--- 
title: 1st Tutorial - First Steps
---

<p>First, we need to load the EvoSynth library</p>

<% filter :src_filter do %>
require 'evosynth'
<% end %>
	
<p>Create a Evaluator subclass to implement the fitness function.</p>

<p>You have to overwrite thhe calculate_fitness method, which will get an individual as parameter.
This example function is the classic OnesMax function, which just count's the ones in a bitstring.</p>

<% filter :src_filter do %>
class MyEvaluator < EvoSynth::Evaluator
    def calculate_fitness(individual)
      individual.genome.inject(0.0) { |fitness, gene| fitness += gene ? 1 : 0 }
    end
end
<% end %>

<p>Create the hillclimber-evolver, it needs a individual, a evaluator and a mutation</p>

<ul>
	<li>we use a MaximizingIndividual (fitness will get maximized during the evolution), with a ArrayGenome, which contains 64 (random) booleans</li>
	<li>as evaluator we use the MyEvaluator we've just created</li>
	<li>lastly, we use the BinaryMutation to flip the boolean values in the genome</li>
</ul>

<% filter :src_filter do %>
evolver = EvoSynth::Evolvers::Hillclimber.new do |hc|
    hc.evaluator  = MyEvaluator.new
    
    hc.individual = EvoSynth::MaximizingIndividual.new( 
            EvoSynth::ArrayGenome.new(64) { EvoSynth.rand_bool } )
            
    hc.mutation   = EvoSynth::Mutations::BinaryMutation.new(
            EvoSynth::Mutations::Functions::FLIP_BOOLEAN)
end
<% end %>

<p>Create a logger with console output using a factory method. This one will log the current generation, the best and the worst fitness every 500 generations:</p>

<% filter :src_filter do %>
logger = EvoSynth::Logger.create(500, true, :gen, :best_fitness, :worst_fitness)
evolver.add_observer(logger)
<% end %>

<p>Finally run the hillclimber and print the result after the evolution. The hillclimber will stop, when the fitness function got called 5000 times.</p>

<% filter :src_filter do %>
puts "Running hillclimber..."
result = evolver.run_while { |hc| hc.evaluator.called < 5001 }
puts "Individual after evolution:  #{result}"
<% end %>
